<%# REMODELING SERVICES%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="./css/stylePg4.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Services</title>
</head>
<body>


    <%- include("partials/nav_bar"); -%>

    
    <div class="container">
        <h1>Remodeling Services</h1>

        <div class="service">
            <div class="image-placeholder"> 
                <img src="/pics/carpintero.jpeg" alt="" class="image1"></div>
            <h2>Carpentry</h2>
            <p>If you need a carpenter for the house of your dreams, contact him <a href="https://carpinteriasenmexico.com/jalisco/" target="_blank"> here</a></p>
        </div>

        <div class="service">
            <div class="image-placeholder"> <img src="/pics/pintor.png" alt="" class="image2"></div>
            <h2>Painter</h2>
            <p>If you need a painter for your dream house, contact him <a href="https://www.cronoshare.com.mx/servicios/pintores" target="_blank">here</a> </p>
        </div>

        <div class="service">
            <div class="image-placeholder"> <img src="/pics/plomero.jpeg" alt="" class="image3"></div>
            <h2>Plumber</h2>
            <p>If you need a plumber for the house of your dreams, contact him <a href="https://www.fontaneriasantacruz.com.mx/" target="_blank"> here</a></p>
        </div>

        <%- include("partials/footer2"); -%>


<%# AQUI VAN LOS SERVICIOS %>
