<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/styleCatalog.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <!-- Navbar -->
    <%- include("partials/nav_bar"); -%>

    
    <section class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1 class="display-4">¡En progreso!</h1>
            <p class="lead">Esta sección está en desarrollo. Estamos trabajando para ofrecerte esta funcionalidad pronto.</p>
            <p class="text-muted">Agradecemos tu paciencia y comprensión.</p>
            <a href="/catalog" class="btn btn-primary mt-3">Volver al Catálogo</a>
        </div>
    </section>

   